{{#each this}}
<tr>
     <td><input type="checkbox" class="black-checkbox-list" data-customer-id="{{customer_id}}" data-tenant-id="{{tenant_id}}"></td>
     <td>{{customer_name}}</td>
     <td>{{mobile}}</td>
     <td>{{branch_name}}</td>
     <td>{{total_amount}}</td>
     <td>{{reply_amount}}</td>
     <td>{{upvote_amount}}</td>
</tr>
{{/each}}
